/* Layout
================================ */
::selection {
  background: #ca2e2e;
  color: #fff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ca2e2e; /* Gecko Browsers */
}

img {
	margin-right: auto;
	margin-left: auto; 
	display: block;
}

body {
    margin: 0;
	padding: 0;
	background-color: #fff;
	
	padding-top: 50px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #727272;
	font-size: 1.6em;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;	
}

hr {
    display: block;
    height: 1px;
    width: 80%;
    border: 0px;
    border-top: 1px solid #1e222b;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

h1 {
	color: #fff;
	font-weight: 100;
	font-size: 2.1em;
	font-family: 'Oswald', sans-serif;
}

h1-2 {
	color: #0b005b;
	font-weight: 100;
	font-size: 2.1em;
	font-family: 'Oswald', sans-serif;
}

h2 {
    text-align: center;
	font-size: 1.4em;
	color: #3a3d41;
	font-weight: bold;
	margin-bottom: -10px;
	font-family: 'Roboto Condensed', sans-serif;
}

h2-1 {
    text-align: center;
	font-size: 1.1em;
	color: #fff;
	margin-bottom: -10px;
}

h3 {
	text-align: center;
	font-size: 1em;
	color: #3a3d41;
	font-weight: bold;
	margin-bottom: -10px;
}

h3-1 {
	text-align: left;
	font-size: 1.1em;
	color: #3a3d41;
	font-weight: bold;
	margin-bottom: -10px;
}

h4 {
	text-align: left;
	font-size: 1em;
	color: #3a3d41;
	font-weight: bold;
}

h4-1 {
	text-align: left;
	font-size: 1.1em;
	color: #1C1C1D;
	font-weight: bold;
	font-family: 'Kaushan Script', cursive;
}

h5 {
    text-align: center;
	font-size: 2.1em;
	color: #3a3d41;
	margin-bottom: -10px;
}

h5-1 {
    text-align: left;
	font-size: 2.2em;
	color: #000000;
	margin-bottom: -10px;
	font-family: 'Teko', sans-serif;
}


h6 {
    text-align: center;
	font-size: 2.2em;
	color: #000000;
	margin-bottom: 20px;
	font-family: 'Oswald', sans-serif;
}


h7 {
    text-align: center;
	font-size: 3em;
	color: #000000;
	margin-bottom: 20px;
	font-family: 'Cherry Swash', cursive;
}

h7-1 {
    text-align: center;
	font-size: 1.5em;
	color: #000000;
	margin-bottom: 20px;
	font-family: 'Vollkorn', serif;
}

A1 {
    text-align: center;
    font-size: 2.3em;
    color: #f2c200;
    margin-bottom: 20px;
    font-family: 'Cherry Swash', cursive;
}

A2 {
    text-align: center;
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 20px;
    font-family: 'Vollkorn', serif;
}

A3 {
    text-align: center;
    font-size: 2.3em;
    color: #08d20d;
    margin-bottom: 20px;
    font-family: 'Cherry Swash', cursive;
}

A4 {
    text-align: center;
    font-size: 2.3em;
    color: #5855c6;
    margin-bottom: 20px;
    font-family: 'Cherry Swash', cursive;
}


.row > p:nth-child(3) {
	font-size: 0.9em;
}

.container {
	max-width: 1100px;
	font-family: 'Vollkorn', serif;
}

.spacing {
	padding-top: 50px;
	padding-bottom: 50px;
}

.space10 { height: 10px; }

.space20 { height: 20px; }

.space30 { height: 30px; }

.space40 { height: 40px; }

.space60 { height: 60px; }

.space80 { height: 80px; }

.space100 { height: 100px; }

.space120 { height: 120px; }

.space300 { height: 300px; }

.space450 { height: 450px; }

.space600 { height: 600px; }

.space900 { height: 900px; }

.top20 {
	padding-top: 10px;
}

@-webkit-keyframes fadein {
	from { opacity: 0;}
	to { opacity: 1;}
}

@-moz-keyframes fadein {
	from { opacity: 0;}
	to { opacity: 1;}
}

@-ms-keyframes fadein {
	from { opacity: 0;}
	to { opacity: 1;}
}

@-webkit-keyframes moveit {
	from { transform: translateY(300px); }
	to { transform: translateY(0px); }
}

@-moz-keyframes moveit {
	from { transform: translateY(300px); }
	to { transform: translateY(0px); }
}

@-ms-keyframes moveit {
	from { transform: translateY(300px); }
	to { transform: translateY(0px); }
}

@keyframes ani1 {
    0% {
        opacity: 0; 
        left: 100px;
        }   
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes ani2 {
    0% {
        opacity: 0; 
        top: 100px;
        }   
    100% {
        opacity: 1;
        top: 0;
    }
}

.topmain {
	background: -webkit-linear-gradient(top, #262a35, #262d37);
	background: -moz-linear-gradient(top, #262a35, #262d37);
	background: -ms-linear-gradient(top, #262a35 0%, #262d37 100%);
	background: url('../img/main.jpg') no-repeat center center fixed;
	height: 700px;
	width: 100%;
	z-index: -1;
	margin-top: -100px;
}

.mlogo {
	text-align: center;
	width: 330px;
	height: 153px;
}

#main-links {
	text-align: center;
	font-size: 1.6em;
	font-weight: 300;
	padding-top: 15vh;
	padding-bottom: 5vh;
}

#main-links a:hover {
	color: #ca2e2e;
}

#main-links a {
	text-decoration: none;
	color: #c3c3c3;
	font-family: 'Raleway';
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

#mouse-down {
	height: 200px;
	text-align: center;
}

#mouse-down i:hover {
    color: #ca2e2e;
}

#mouse-down i {
    color: #fff;
    opacity: 0.8;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.col-custom-five{
    position: relative;
    float: left;
    width: 20%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.maintitle {
	text-align: center;
	margin-top: 100px;
	-webkit-animation: fadein 3s;
	-webkit-animation-delay: .6s;
	-moz-animation: fadein 5.2s;
	-ms-animation: fadein 2.2s;
}

.maintitle img {
	padding-bottom: 50px;
}

.bottomtitle {
	text-align: center;
	margin-top: 150px;
}

.bottomtitle h1 {
	font-weight: 400;
	font-size: 2.3em;
}

.bottomtitle p {
	color: #6d737f;
}

.share p {
	color: #465867;
}

.highlight {
	display: block;
	font-size: 2.5em;
	font-weight: 300;
	margin-top: 10px;
	color: #00B523;
}

.hyphen {
	width: 20px;
	border-top: 2px solid #862222;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.headingtitle {
	text-align: center;
	font-size: 1em;
	color: #3a3d41;
	font-weight: 400;
	margin-bottom: 50px;
}

.storestyle {
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	margin-top: 175px;
}

.overlay {
	background: #fff;
	max-width: 1100px;
	height: 420px;
	z-index: 1;
	position: absolute;
}

.video-section {
	background: #262a35 url('../img/iphonevideo.png') no-repeat;
	background-position: top 152px center; 
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 150px;
}

.heading > h1 {
	color: #3a3d41;
	text-align: center;
	font-weight: 400;
	padding-top: 50px;
}

#howto-section {
	background: #fff url('../img/ip6.png') no-repeat;
    background-position: top center; 
	background-size: 510px 310px;
	text-align: center;
	padding-bottom: 120px;
	height: 500px;
}

#howto-section img {
	padding-top: 50px;
	text-align: center;
	padding-bottom: 150px;
	height: 395px;
}

.bottom-section {
	background: -webkit-linear-gradient(top, #262a35, #262d37);
	background: -moz-linear-gradient(top, #262a35, #262d37);
	background: -ms-linear-gradient(top, #262a35 0%, #262d37 100%);
	height: 560px;
	width: 100%;
}

.lastline {
	text-align: center;
	color: #FFF;  /* #6d737f */
	font-family: 'Vollkorn', serif;
}

.lastline a {
	color: #2d99d3;
	text-decoration: none;
}

.lastline a:hover {
	color: #1d719f;
}

.privacy-bg {
	background: -webkit-linear-gradient(top, #262a35, #262d37);
	background: -moz-linear-gradient(top, #262a35, #262d37);
	background: -ms-linear-gradient(top, #262a35 0%, #262d37 100%);
	height: auto;
	width: 100%;
	padding: 30px;
}

.privacy-bg p, ul {
	font-size: 0.8em;
}

#privacy-text {
	background: #fff;
	border-radius: 5px;
	height: 100%;
	width: auto;
	padding: 30px 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.statbar {
	background: radial-gradient(#03003F, #03003F); /* #000000 #E8E8E8 #F4F4F4 (#FFFFFF, #f2c200)*/
	height: auto;
	width: 100%;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
	border-radius: 150px;
}

.highlight {
	display: block;
	font-size: 2.5em;
	font-weight: 800;
	margin-top: 10px;
}

.hyphen {
	width: 20px;
	border-top: 2px solid #862222;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.milestone-counter {
	font-family: 'Raleway';
	color: #fff;
}

.milestone-counter2 {
	font-family: 'Raleway';
	color: #fff;
}

.milestone-details {
	font-size: 1.3em;
	font-weight: 300;
	margin-bottom: 40px;
	color: #000;
}

.milestone-details2 {
	font-size: 1.3em;
	font-weight: 300;
	margin-bottom: 40px;
	color: #fff;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.name {
	color: #3f3f3f;
	font-size: 1em;
	font-weight: 600;
	margin-top: 20px;
}

.post {
	color: #9d9d9d;
	font-size: 1em;
	font-weight: 600;
}

.story {
	color: #3f3f3f;
	font-size: .9em;
	font-weight: 300;
	width: 100%;
	padding: 0px 15px 0px 0px;
	margin-bottom: 50px;
}

.name-eng {
	color: #FFF;
	background: #F2C200;
	text-align: center;
	font-size: 1em;
	font-weight: 600;
	margin-top: 20px;
}

.post-eng {
	color: #F2C200;
	text-align: center;
	font-size: 1.5em;
	font-weight: 600;
}

.story-eng {
	color: #3f3f3f;
	font-size: .9em;
	font-weight: 300;
	width: 100%;
	padding: 0px 15px 0px 0px;
	margin-bottom: 50px;
}

.name-emp {
	color: #FFF;
	background: #08D20D;
	text-align: center;
	font-size: 1em;
	font-weight: 600;
	margin-top: 20px;
}

.post-emp {
	color: #08D20D;
	text-align: center;
	font-size: 1.5em;
	font-weight: 600;
}

.story-emp {
	color: #3f3f3f;
	font-size: .9em;
	font-weight: 300;
	width: 100%;
	padding: 0px 15px 0px 0px;
	margin-bottom: 50px;
}

.name-env {
	color: #FFF;
	background: #5855C6;
	text-align: center;
	font-size: 1em;
	font-weight: 600;
	margin-top: 20px;
}

.post-env {
	color: #5855C6;
	text-align: center;
	font-size: 1.5em;
	font-weight: 600;
}

.story-env {
	color: #3f3f3f;
	font-size: .9em;
	font-weight: 300;
	width: 100%;
	padding: 0px 15px 0px 0px;
	margin-bottom: 50px;
}

.enedata img{
	max-width: 100%;
	height: auto;
	display: block;
	position: relative;
	animation: ani2 2s ease;
}

.more-info {
	max-width: 1100px;
	font-size: 1.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
	color: #fff;
}

.more-info a {
	color: #ca2e2e;
}

#members {
    position: relative;
}

.changebgcolor {
    background: #a5d1ff;
}

.team {
	height: 450px;
}

.team p:nth-child(-n+3) {
	font-family: 'Raleway';
}

.team img {
    width: 100%;
}

.input-group {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-right: 10px;
	margin-bottom: 20px;
}

.ggmap {
position: relative;
padding-bottom: 30%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
 
.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.view-product:hover {
    background-color: #b72728;
}

.view-product {
    font-size: 17px;
    display: block;
    background-color: #f25253;
    color: #fff!important;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #b72728;
    text-align: center;
    max-width: 400px;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 60px auto;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: .3s;
}

.view-login {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: double;
  color: #8C8C8C;
  width:80px;
  padding: 2px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 40px;
  float: right;
}

.view-service:hover {
    background-color: #b72728;
}

.view-service {
    font-size: 17px;
    display: block;
    background-color: #f25253;
    color: #fff!important;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #b72728;
    text-align: center;
    max-width: 400px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 60px;
    margin-left: 0px;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: .3s;
}

.key {
  width: 15px;
  height: 15px;
  float: left;
  margin-left: 4px;
  margin-top: 2px;
}

.mission {
		font-size: 1.5em;
        width: 100%;
	}

	#mission {
		padding: 35px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #f2c200); /* #FFF2D0 linear-gradient(-135deg, #FFF2D0, #f2c200) radial-gradient(#FFF2D0, #f2c200)*/
		background-size: cover;
		height: 350px;
        width: 101.25%;
        margin-top: 15px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        }

	#vision {
		padding: 35px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #08d20d);  /* #F7FFED */
		background-size: cover;
		height: 350px;
        width: 101.25%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	}
	
	#value {
		padding: 35px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #5855c6);  /* #DFE1FF */
		background-size: cover;
		height: 350px;
        width: 101.25%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	}


.datapartner {
		font-size: 1.5em;
        width: 100%;
	}

	#datapartner-1 {
		padding: 70px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #f2c200); /* #FFF2D0 */
		background-size: cover;
		height: 600px;
        width: 101.25%;
        margin-top: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	}

.view-datapartner:hover {
    background-color: #b72728;
}

.view-datapartner {
    font-size: 17px;
    display: block;
    background-color: #f25253;
    color: #fff!important;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #b72728;
    text-align: center;
    max-width: 400px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 60px;
    margin-left: 0px;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: .3s;
}

.datapartner-image img{
	width: 450px;
	height: 450px;
	display: block;
	position: relative;
	margin-top: 0px;
	animation: ani1 2s ease;
}

.agencies {
		font-size: 1.5em;
        width: 100%;
	}

	#agencies-1 {
		padding: 70px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #08d20d); /* #F7FFED */
		background-size: cover;
		height: 600px;
        width: 101.25%;
        margin-top: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	}

.view-agencies:hover {
    background-color: #b72728;
}

.view-agencies {
    font-size: 17px;
    display: block;
    background-color: #f25253;
    color: #fff!important;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #b72728;
    text-align: center;
    max-width: 400px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 60px;
    margin-left: 0px;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: .3s;
}

.agencies-image img{
	width: 450px;
	height: 450px;
	display: block;
	position: relative;
	margin-top: 0px;
	animation: ani1 2s ease;
}

.manufacturer {
		font-size: 1.5em;
        width: 100%;
	}

	#manufacturer-1 {
		padding: 70px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #5855c6); /* #DFE1FF */
		background-size: cover;
		height: 600px;
        width: 101.25%;
        margin-top: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	}

.view-manufacturer:hover {
    background-color: #b72728;
}

.view-manufacturer {
    font-size: 17px;
    display: block;
    background-color: #f25253;
    color: #fff!important;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #b72728;
    text-align: center;
    max-width: 400px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 60px;
    margin-left: 0px;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: .3s;
}

.manufacturer-image img{
	width: 450px;
	height: 450px;
	display: block;
	position: relative;
	margin-top: 0px;
	animation: ani1 2s ease;
}

.price {
		font-size: 1.5em;
        width: 100%;
	}

	#price-1 {
		padding: 70px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #f2c200); /* #FFF2D0 */
		background-size: cover;
		height: 300px;
        width: 101.25%;
        margin-top: 20px;
        text-align: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	}
	
.service {
		font-size: 1.5em;
        width: 100%;
	}

	#service-1 {
		padding: 70px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #f2c200); /* #FFF2D0 */
		background-size: cover;
		height: 600px;
        width: 101.25%;
        margin-top: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
        
    #service-details-1 {
		padding: 70px 30px 0px 30px;
		background: #E8E8E8 url("") no-repeat center;
		background-size: cover;
		height: 600px;
        width: 101.25%;
        margin-top: 0px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    
    #service-details-2 {
		padding: 70px 30px 0px 30px;
		background: #FFFFFF url("") no-repeat center;
		background-size: cover;
		height: 600px;
        width: 101.25%;
        margin-top: 0px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    
    #service-details-3 {
		padding: 70px 30px 0px 30px;
		background: #E8E8E8 url("") no-repeat center;
		background-size: cover;
		height: 600px;
        width: 101.25%;
        margin-top: 0px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    
    #service-details-4 {
		padding: 70px 30px 0px 30px;
		background: #FFFFFF url("") no-repeat center;
		background-size: cover;
		height: 600px;
        width: 101.25%;
        margin-top: 0px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

.service-image img{
	width: 450px;
	height: 450px;
	display: block;
	position: relative;
	margin-top: 0px;
	animation: ani1 2s ease;
}

.service-image2 img{
	width: 500px;
	height: 500px;
	display: block;
	position: relative;
	margin-top: 0px;
	animation: ani1 2s ease;
}

.service-image3 img{
	width: 500px;
	height: 500px;
	display: block;
	position: relative;
	margin-top: 0px;
	animation: ani1 2s ease;
}

.service-image4 img{
	width: 500px;
	height: 500px;
	display: block;
	position: relative;
	margin-top: 0px;
	animation: ani1 2s ease;
}

.service-image5 img{
	width: 500px;
	height: 500px;
	display: block;
	position: relative;
	margin-top: 0px;
	animation: ani1 2s ease;
}


.service-statbar {
	background: #FFFFFF; /* 00B523 */
	height: auto;
	width: 100%;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
}

.box30 {
    margin: 2em 0;
    background: radial-gradient(#FFFFFF, #D7CFCF); /* #f1f1f1 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.box30 .box-title {
    font-size: 1.2em;
    background: #0b005b;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: 'Oswald', sans-serif;
}
.box30 p {
    padding: 15px 20px;
    margin: 0;
}

/* Checkbox 
================================*/
input[type=checkbox],input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    vertical-align: -0.8rem;
    transition:all .15s ease-out 0s;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: .4rem;
    outline: none;
    border-radius: 10%;
}

input[type=checkbox]:before,input[type=checkbox]:after {
    position: absolute;
    content: "";
    background: #fff;
    transition: all .2s ease-in-out;
}
input[type=checkbox]:before {
    left: 2px;
    top: 6px;
    width: 0;
    height: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
input[type=checkbox]:after {
    right: 9px;
    bottom: 3px;
    width: 2px;
    height: 0;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transition-delay: .2s;
}
input[type=checkbox]:checked:before {
    left: 1px;
    top: 10px;
    width: 6px;
    height: 2px;
}
input[type=checkbox]:checked:after {
    right: 5px;
    bottom: 1px;
    width: 2px;
    height: 14px;
}
input[type=checkbox]:indeterminate:before,input[type=checkbox]:indeterminate:after {
    width: 7px;
    height: 2px;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}
input[type=checkbox]:indeterminate:before {
    left: 1px;
    top: 7px;
}
input[type=checkbox]:indeterminate:after {
    right: 1px;
    bottom: 7px;
}

input[type=checkbox].blue,input[type=radio].blue {
    border: 2px solid #00C324;
}
input[type=checkbox].blue:checked,input[type=checkbox].blue:indeterminate,input[type=radio].blue:checked:before {
    background: #00C324;
}

/* Navbar
================================ */
.navbar {
	background-color: #333; /* #FFF */
	font-weight: bold;
	font-size: 21px;
	margin-top: -50px;
	margin-left: 0px;
	width: 100%;
	position: fixed;
	border: 1px solid #333;
	border-bottom: 0px solid #333; /* #d8d8d8 */
	border-radius: 0px !important;
	z-index: 999;
}

.navbar .nav > li > a {
	color: #FFF; /* #FFF#888888 */
	text-shadow: none;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

.navbar-nav > li > a:hover {
	color: #FCC700 !important;
}

.navbar-default .navbar-nav > .active > a {
	color: #FCC700;
	background: none;
}

.navbar-default .navbar-nav > .active > a:hover {
	color: #FFF;
	background: none;
}

#main-navbar {
	display: none;
}

/* Video
================================ */
.embed-container video{
	display: block; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
}

.video-service {
	width: 740px;
	height: 320px;
}


/* Footer
================================ */
.footer-wrap .menu-left, .menu-center, .menu-right {
    display: inline-block;
    width: 20%;
    margin: 50px auto;
}

.footer-wrap ul {
    list-style: none;
    padding: 0;
    line-height:40px;
}

.footer-wrap {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-left: 0px;
	width: 100%;
}

.footer-wrap h3 {
    color: #fff;
    border-bottom: 3px solid #08d20d;
    padding: 10px;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}

.footer-wrap a {
    text-decoration: none;
    color: #fff;
    font-family: 'Vollkorn', serif;
    font-size: 15px;
}
.footer-wrap a:hover {
    color: #FCC700;
}

.footer-wrap .cmark {
    display: block;
    padding: 10px;
    border-top: 1px solid gray;
    width: 80%;
    margin: 0 auto;
    color: gray;
}

/* Buttons
================================  */

.news-btn:hover {
    background-color: #f25253;
}

.news-btn {
	font-size: 17px;
    display: block;
    background-color: transparent; /* #f25253 */
    color: #fff!important;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #666666; #b72728
    text-align: center;
    max-width: 400px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: .3s;
}

/* Responsiveness
================================ */

@media only screen and (max-height: 950px) {
	#main-logo {
		padding-top: 12%;
	}
}

@media only screen and (max-width : 1200px) {
	.container {
		width: 100%;
	}
	#mouse-down {
		opacity: 0;
	}
}

@media only screen and (max-width: 768px) {
	.space900{
		height: 1700px;
	}
	.topmain {
	width: 100%;
	height: 700px;
	background: url('../img/main-mobile.jpg') no-repeat center;
	background-size: cover;
	}
	.container {
		width: 100%;
	}
	#mouse-down {
		opacity: 0;
	}
	.case {
		font-size: 0.9em;
	}
	#case1 {
		padding-top: 50px;
		background:
		linear-gradient(
			rgba(255,255,255,0.7),
			rgba(255,255,255,0.7)
			),
		url("img/case1.jpg") no-repeat center;
		height: 500px;
	}
	#case2 {
		padding-top: 80px;
		background:
		linear-gradient(
			rgba(255,255,255,0.5),
			rgba(255,255,255,0.5)
			),
		url("img/case2.jpg") no-repeat center;
		height: 450px;
	}
	.mission {
		font-size: 1.5em;
		width: 100%;
	}
	#mission {
		font-size: 1.05em;
		padding: 30px 15px 0px 15px;
		background: radial-gradient(#FFFFFF, #f2c200);
		background-size: cover;
		width: 103%;
		height: 300px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	}
	#vision {
		font-size: 1.05em;
		padding: 30px 15px 0px 15px;
		background: radial-gradient(#FFFFFF, #08d20d);
		background-size: cover;
		width: 103%;
		height: 250px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	}
	#value {
		font-size: 1.0em;
		padding: 30px 15px 0px 15px;
		background: radial-gradient(#FFFFFF, #5855c6);
		background-size: cover;
		width: 103%;
		height: 250px;
		-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

#datapartner-1 {
		padding: 70px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #f2c200); /* #FFF2D0 */
		background-size: cover;
		height: 600px;
        width: 103%;
        margin-top: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

.datapartner-image img{
	width: 0px;
	height: 0px;
	display: block;
	position: relative;
}

#agencies-1 {
		padding: 70px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #08d20d); /* #F7FFED */
		background-size: cover;
		height: 600px;
        width: 103%;
        margin-top: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

.agencies-image img{
	width: 0px;
	height: 0px;
	display: block;
	position: relative;
}

#manufacturer-1 {
		padding: 70px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #5855c6); /* #DFE1FF */
		background-size: cover;
		height: 600px;
        width: 103%;
        margin-top: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

.manufacturer-image img{
	width: 0px;
	height: 0px;
	display: block;
	position: relative;
}

#price-1 {
		padding: 70px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #f2c200); /* #FFF2D0 */
		background-size: cover;
		height: 400px;
        width: 103%;
        margin-top: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

#service-1 {
		padding: 70px 30px 0px 30px;
		background: radial-gradient(#FFFFFF, #f2c200); /* #FFF2D0 */
		background-size: cover;
		height: 600px;
        width: 103%;
        margin-top: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

.service-image img{
	width: 0px;
	height: 0px;
	display: block;
	position: relative;
}

.service-image2 img{
	width: 0px;
	height: 0px;
	display: block;
	position: relative;
	margin-top: auto;
}

.service-image3 img{
	width: 0px;
	height: 0px;
	display: block;
	position: relative;
	margin-top: auto;
}

.service-image4 img{
	width: 0px;
	height: 0px;
	display: block;
	position: relative;
	margin-top: auto;
}

.service-image5 img{
	width: 0px;
	height: 0px;
	display: block;
	position: relative;
	margin-top: auto;
}

.footer-wrap .menu-left, .menu-center, .menu-right {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .footer-wrap .cpr {
        display: inline;
    }

@media only screen and (max-width: 992px) {
	#ipaddiv {
		display: none;
	}
	.topmain {
	width: 100%;
	height: 700px;
	background: url('../img/main-mobile.jpg') no-repeat center;
	background-size: cover;
	}
	.container {
		width: 100%;
	}
	#mouse-down {
		opacity: 0;
	}
	.storestyle {
	margin-top: 50px;
	margin-left: 0;
	margin-right: 0;
	}
	.mission {
		font-size: 1.5em;
		width: 100%;
	}
	#mission {
		font-size: 1.05em;
		padding: 30px 15px 0px 15px;
		background: radial-gradient(#FFFFFF, #f2c200);
		background-size: cover;
		width: 103%;
		height: 750px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	}
	#vision {
		font-size: 1.05em;
		padding: 30px 15px 0px 15px;
		background: radial-gradient(#FFFFFF, #08d20d);
		background-size: cover;
		width: 103%;
		height: 800px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	}
	#value {
		font-size: 1.0em;
		padding: 10px 15px 0px 15px;
		background: radial-gradient(#FFFFFF, #5855c6);
		background-size: cover;
		width: 103%;
		height: 800px;
		-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	}
}

.footer-wrap .menu-left, .menu-center, .menu-right {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .footer-wrap .cpr {
        display: inline;
    }

@media only screen and (max-width: 685px) {
	.container {
		width: 100%;
	}
	#mouse-down {
		opacity: 0;
	}
	.col-custom-five {
		width: 100%;
	}
	.video-section {
		background-image: none;
	}
	h1 {
		font-size: 1.5em;
	}
	.embed-container video {
		max-width: 100%;
		max-height: 100%;
	}
	.space900{
		height: 1800px;
	}
	.bottom-section {
		height: 580px;
	}
	.bottomtitle h1 {
	font-size: 1.5em;
	}
	#main-links {
		font-size: 1.2em;
		padding-top: 2vh;
		padding-bottom: 5vh;
	}
}


@media only screen and (max-width: 480px) {
	.container {
		width: 100%;
	}
	#mouse-down {
		opacity: 0;
	}
	.col-custom-five {
		width: 100%;
	}
	.bottom-section {
		height: 600px;
	}
	.bottomtitle h1 {
	font-size: 1.4em;
	}
	#main-links {
		font-size: 1.2em;
		padding-top: 3vh;
		padding-bottom: 5vh;
	}
}

@media only screen and (max-width: 460px) {
	.container {
		width: 100%;
	}
	#mouse-down {
		opacity: 0;
	}
	.col-custom-five {
		width: 100%;
	}
	.bottom-section {
		height: 660px;
	}
	.bottomtitle h1 {
		font-size: 1.4em;
	}
	#android-btn {
		-webkit-transform: scale(0.75);
	}
	#apple-btn {
		-webkit-transform: scale(0.75);
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    .container { 
        width: 100%;
    }
}


@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){
	.container {
		width: 100%;
	}
    #main-links {
		font-size: 1.2em;
		padding-top: 2vh;
		padding-bottom: 5vh;
	}
	.col-custom-five {
	    width: 100%;
	}
	.maintitle {
	    margin-top: 50px;
	}
}
/*=======================================
=======================================*/

.langbtn {
	width: 150px;
	height: 50px;
	color: #fff;
	padding: 20px 5px 0 20px;
	right: 5px;
	position: absolute;
	z-index: 9999;
}

.langbtn a {
	color: #848484;
}

.langbtn a:hover {
	color: #fff;
}
